<template>
  <grid :items="movies" />
</template>

<script lang="ts">
  /**
   * Page component used to render the home page body content
   */
  import { defineComponent } from 'vue'
  import Grid from '../components/grid.component.vue'
  import MoviesService from '../services/movies.service'
  import Movie from '../models/movie.model'
  export default defineComponent({
    name: 'Home',
    components: { Grid },
    data() {
      return {
        movies: [] as Movie[],
      }
    },
    mounted() {
      this.getMovies()
    },
    methods: {
      async getMovies(): Promise<Array<Movie>> {
        return new MoviesService()
          .get({})
          .then((movies: Array<Movie>) => (this.movies = movies))
      },
    },
  })
</script>

<style scoped></style>
