<template>
  <div class="flex flex-row items-center justify-between">
    <div class="py-4">Results for '{{ query }}'</div>
    <button
      class="
        mb-2
        bg-gray-700
        hover:bg-gray-400
        hover:text-white
        text-white
        block
        px-3
        py-2
        rounded-md
        text-base
        font-medium
      "
      @click="displayFilters"
    >
      Filters
    </button>
  </div>
  <hr />
  <!-- TODO: Good to have! Add a responsive section for filters -->
  <div v-if="showFilters" class="px-2 py-2 border border-t-0">
    <div class="hidden md:block">
      <div class="grid grid-cols-4 gap-x-2">
        <div class="flex flex-col">
          <h2 class="mb-2">Released</h2>
          <hr class="py-2" />
          <div>
            <div class="md:flex md:items-center">
              <div class="md:w-1/3">
                <label class="block md:text-right mb-1 md:mb-0 pr-4">
                  From
                </label>
              </div>
              <div class="md:w-2/3">
                <input
                  v-model="filters.release_date.from"
                  type="date"
                  name="release_date_from"
                  class="bg-purple-white rounded border p-3 w-full"
                  @change="getMovies"
                />
              </div>
            </div>
          </div>
          <div class="mt-2">
            <div class="md:flex md:items-center">
              <div class="md:w-1/3">
                <label class="block md:text-right mb-1 md:mb-0 pr-4">
                  To
                </label>
              </div>
              <div class="md:w-2/3">
                <input
                  v-model="filters.release_date.to"
                  type="date"
                  name="release_date_to"
                  class="bg-purple-white rounded border p-3 w-full"
                  @change="getMovies"
                />
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="mb-2">Include Actor</h2>
          <hr class="py-2" />
          <input
            v-model="filters.actor"
            type="text"
            name="actor"
            placeholder="Actor Name"
            class="bg-purple-white rounded border p-3 w-full"
            @change="getMovies"
          />
        </div>
        <div>
          <h2 class="mb-2">Genre</h2>
          <hr class="py-2" />
          <select
            v-model="filters.genre"
            name="genre"
            multiple
            class="bg-purple-white rounded border p-3 w-full"
            @change="getMovies"
          >
            <option v-for="genre in genres" :key="genre.id">
              {{ genre.title }}
            </option>
          </select>
        </div>
        <div class="flex flex-col">
          <h2 class="mb-2">Type</h2>
          <hr class="py-2" />
          <label class="inline-flex items-center">
            <input
              v-model="filters.is_series"
              type="radio"
              name="is_series"
              :value="-1"
              @change="getMovies"
            />
            <span class="ml-2 text-gray-700">Both</span>
          </label>
          <label class="inline-flex items-center mt-3">
            <input
              v-model="filters.is_series"
              type="radio"
              name="is_series"
              :value="1"
              @change="getMovies"
            />
            <span class="ml-2 text-gray-700">Series</span>
          </label>
          <label class="inline-flex items-center mt-3">
            <input
              v-model="filters.is_series"
              type="radio"
              name="is_series"
              :value="0"
              @change="getMovies"
            />
            <span class="ml-2 text-gray-700">Movies</span>
          </label>
        </div>
      </div>
    </div>
    <div id="mobile-filter" class="md:hidden"></div>
  </div>
  <grid :items="movies" />
</template>

<script lang="ts">
  /**
   * Page component used to render the search page body content
   */
  // TODO: I haven't implemented pagination as it isn't a musts have
  import { defineComponent } from 'vue'
  import Grid from '../components/grid.component.vue'
  import MoviesService from '../services/movies.service'
  import GenreService from '../services/genres.service'
  import Movie from '../models/movie.model'
  import Genre from '../models/genre.model'
  export default defineComponent({
    name: 'Search',
    components: { Grid },
    data() {
      return {
        movies: [] as Movie[],
        genres: [] as Genre[],
        query: '',
        showFilters: false,
        filters: {
          actor: '',
          genre: [],
          is_series: -1,
          release_date: {
            from: undefined,
            to: undefined,
          },
        },
      }
    },
    watch: {
      query() {
        this.getMovies()
      },
    },
    mounted() {
      this.getMovies()
      this.getGenres()
    },
    updated() {
      this.query = this.$route.query.query?.toString() || ''
    },
    methods: {
      async getMovies(): Promise<Array<Movie>> {
        return new MoviesService()
          .get({
            query: this.$route.query.query?.toString(),
            filters: this.filters,
          })
          .then((movies: Array<Movie>) => (this.movies = movies))
      },
      async getGenres(): Promise<Array<Genre>> {
        return new GenreService()
          .get({})
          .then((genres: Array<Genre>) => (this.genres = genres))
      },
      displayFilters() {
        this.showFilters = !this.showFilters
      },
    },
  })
</script>

<style scoped></style>
