<template>
  <div class="hidden md:block">
    <div class="grid grid-flow-row grid-cols-3 gap-3">
      <div v-for="item in items" :key="item.id">
        <item :item="item" />
      </div>
    </div>
  </div>

  <div id="mobile-grid" class="md:hidden">
    <div v-for="item in items" :key="item.id">
      <item :item="item" />
    </div>
  </div>

  <div v-if="!items.length">Sorry, no items found!</div>
</template>

<script lang="ts">
  /**
   * Presentation component used to render items in grid view
   * Usage: <grid v-bind:items="{items: Array<any>}"></grid>
   */
  import { defineComponent, PropType } from 'vue'
  import Item from './item.component.vue'
  import Movie from '../models/movie.model'
  export default defineComponent({
    name: 'Grid',
    components: {
      Item,
    },
    props: {
      items: {
        type: Array as PropType<Array<Movie>>,
        required: true,
      },
    },
    data() {
      return {}
    },
  })
</script>

<style scoped></style>
