<template>
  <div class="my-6 px-4 md:px-6 lg:px-8 overflow-hidden">
    <!-- THE BELOW ELEMENT WOULD BE A LINK TO GO TO THE MOVIE -->

    <div
      class="
        max-w-xl
        mx-auto
        mb-2
        px-4
        py-4
        bg-white
        shadow-md
        rounded-lg
        cursor-pointer
        hover:bg-gray-100
      "
    >
      <div class="py-2 flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
          <p class="text-xs font-semibold text-gray-500">
            {{ item.getReleaseDate() }}
          </p>
        </div>
        <p
          class="text-xs font-semibold text-gray-500 flex flex-row items-center"
        >
          {{ item.isSeries ? 'Serie' : 'Movie' }}
        </p>
      </div>
      <div class="mt-2">
        <img
          class="object-cover w-full rounded-lg"
          :src="'/img/' + item.id + '.jpeg'"
          alt=""
          @error="replaceByDefault"
        />
        <h2
          class="
            py-2
            flex flex-row
            items-center
            font-bold
            truncate
            overflow-ellipsis
          "
        >
          {{ item.title }}
        </h2>

        <!-- THE BELOW ELEMENT DISPLAY THE ACTORS AND GENRES OF THE ITEM -->
        <!-- I DECIDED TO NOT SHOW THAT INFORMATION TO THE USER AS I DON'T THINK IS RELLEVANT IN THE LIST. 
               I'D DISPLAY THIS INFORMATION IN THE MOVIE PAGE ONCE SELECTED. 
               HOWEVER, THE FILTERS WILL FILTER PER THESE VALUES -->

        <!-- <div class="py-2 flex flex-row items-center">
            <button v-for="actor in item.actors" v-bind:key="actor" class="flex flex-row items-center focus:outline-none focus:shadow-outline rounded-lg">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
              <span class="ml-1">{{actor.name}}</span>
            </button>
            <button v-for="genre in item.genre" v-bind:key="genre" class="flex flex-row items-center focus:outline-none focus:shadow-outline rounded-lg ml-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>
              <span class="ml-1">{{genre.title}}</span>
            </button>
          </div> -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  /**
   * Presentation component used to render a Movie object
   * Usage: <item v-bind:item="{item: Movie}"></item>
   */
  import { defineComponent } from 'vue'
  export default defineComponent({
    name: 'Item',
    props: {
      item: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {}
    },
    methods: {
      replaceByDefault(e: any) {
        return (e.target.src = 'https://fakeimg.pl/400x600')
      },
    },
  })
</script>

<style scoped></style>
