<template>
  <div class="relative my-2">
    <div class="flex items-center">
      <svg
        class="w-4 h-4 fill-current text-gray-500 ml-4 z-10"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="black"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
        />
      </svg>
      <input
        v-model="query"
        type="search"
        placeholder="Search"
        class="
          w-full
          -ml-8
          pl-10
          px-3
          py-2
          border
          rounded-lg
          text-gray-700
          focus:outline-none
          focus:border-gray-500
        "
        @keyup.enter="submit"
        @input="debounceSearch"
      />
    </div>
    <div
      v-if="suggestions.length"
      class="absolute mt-2 py-2 w-48 bg-white rounded-lg shadow-xl"
    >
      <a
        v-for="(suggestion, i) in suggestions"
        :key="i"
        class="
          block
          px-4
          py-2
          text-gray-800
          hover:bg-indigo-500
          hover:text-white
        "
        @click="autocomplete(suggestion)"
        >{{ suggestion }}</a
      >
    </div>
  </div>
</template>

<script lang="ts">
  /**
   * Component to handle overall search requests
   * Usage: <search [debounceTime]="Number"></search>
   */
  import { defineComponent } from 'vue'
  import MoviesService from '../services/movies.service'
  import Movie from '../models/movie.model'
  export default defineComponent({
    name: 'Search',
    props: {
      debounceTime: {
        required: false,
        type: Number,
        default: 500,
      },
    },
    data() {
      return {
        query: '',
        debounce: undefined || 0,
        suggestions: [] as Array<any>,
      }
    },
    methods: {
      submit() {
        if (this.query === '') {
          this.$router.push({ path: '/' })
        } else {
          this.$router.push({ path: '/search', query: { query: this.query } })
        }
      },
      debounceSearch(e: any) {
        clearTimeout(this.debounce)
        this.suggestions = []
        this.debounce = setTimeout(() => {
          new MoviesService()
            .get({ query: e.target.value })
            .then((movies: Array<Movie>) => {
              movies.forEach((movie: Movie) => {
                this.suggestions.push(movie.title)
              })
            })
        }, this.debounceTime)
      },
      autocomplete(suggestion: string) {
        this.query = suggestion
        this.suggestions = []
        this.submit()
      },
    },
  })
</script>

<style scoped></style>
