<template>
  <div>
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-8 w-8" src="./assets/logo.png" alt="Workflow" />
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-8">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <router-link
                  to="/"
                  active-class="bg-gray-900"
                  exact-active-class="bg-gray-900"
                  class="
                    text-gray-300
                    hover:bg-gray-700
                    hover:text-white
                    text-white
                    block
                    px-3
                    py-2
                    rounded-md
                    text-base
                    font-medium
                  "
                >
                  Home
                </router-link>
                <search />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div id="mobile-menu" class="md:hidden">
        <div class="px-2 pt-2 pb-3 space-y-2 sm:px-3">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <router-link
            to="/"
            active-class="bg-gray-900"
            exact-active-class="bg-gray-900"
            class="
              text-gray-300
              hover:bg-gray-700
              hover:text-white
              text-white
              block
              px-3
              py-2
              rounded-md
              text-base
              font-medium
            "
          >
            Home
          </router-link>
          <search />
        </div>
      </div>
    </nav>

    <header v-if="pageTitle" class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">
          {{ pageTitle }}
        </h1>
      </div>
    </header>
    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <router-view />
      </div>
    </main>
  </div>
</template>

<script lang="ts">
  /**
   * The application has a unique layout
   * This component contains all the shared components across the different pages (ex. header, footer, etc)
   */
  import { defineComponent } from 'vue'
  import Search from './components/search.component.vue'

  export default defineComponent({
    name: 'App',
    components: {
      Search,
    },
    data() {
      return {
        pageTitle: this.$route.meta.title,
      }
    },
    watch: {
      $route(to) {
        document.title = to.meta.title || ''
        this.pageTitle = this.$route.meta.title
      },
    },
  })
</script>

<style></style>
